<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />

    <link rel="stylesheet" href="/css/admin-schedule.css" />
    <title>Dashboard</title>
    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- font awesome link -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    
    <script>
          var events = [{
            title: 'Paper Submission',
            description: 'Session will start soon',
            start: '2024-05-13T09:30',
            end: '2024-05-14T11:25',
            color: '#3867d6',
            textcolor: '#fff'
          },
          {
            title: 'Conference1',
            description: 'Session will start soon',
            start: '2024-05-17T14:30',
            end: '2024-05-18T11:25',
            color: '#3867d6',
            textcolor: '#fff'
            }
          ];
          document.addEventListener('DOMContentLoaded', function() {
              var calendarEl = document.getElementById('calendar');
              var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listWeek,listDay'
                  },
                views: {
                    dayGridMonth: {buttonText: 'Month'},
                    listDay: { buttonText: 'Day' },
                    listWeek: { buttonText: 'Week' },
                    today: {buttonText: 'Today'}
                  },
                events: events 
              });
              calendar.render();

            // Function to fetch data from form and update calendar events
          const updateCalendar = async () => {
                const form = document.querySelector('#event-info');
                const formData = new FormData(form);
                const data = {};
                for (let [key, value] of formData.entries()) {
                  data[key] = value;
                }
                const title = data['title'];
                const description = data['description'];
                const startdate = data['startdate'];
                const starttime = data['eventstarttime'];
                const enddate = data['enddate'];
                const endtime = data['eventendtime'];  
                
                // Ensure all date and time values are defined before processing
                if (startdate && starttime && enddate && endtime) {
                    // Combine date and time into datetime strings
                    const startDatetime = `${startdate}T${starttime}`;
                    const endDatetime = `${enddate}T${endtime}`;
                    // Convert to Date objects for comparison
                    const startDateObj = new Date(startDatetime);
                    const endDateObj = new Date(endDatetime);
                    // Check if the start datetime is earlier than the end datetime
                      if (startDateObj < endDateObj) {
                        // If valid, add the event to the events array and refresh the calendar
                        events.push({
                          title ,
                          description,
                          start: startDatetime,
                          end: endDatetime,
                          color: '#3867d6', // Example color
                          textcolor: '#fff' // Example text color
                        });
                        await calendar.removeAllEvents(); // Clear existing events
                        await calendar.addEventSource(events); // Re-add all events to the calendar
                        // console.log(events)
                      } else {
                        alert('Start date/time must be earlier than end date/time.');
                      }
                } 
                else {
                    console.error('One or more date/time values are missing.');
                }
              }
              calendar.addEvent(event);            

            // Event listener for form submission
              document.querySelector('#event-info').addEventListener('submit', async(event) => {
              event.preventDefault(); // Prevent form submission
              updateCalendar(); // Update calendar events
              event.target.reset(); // Reset the form
              fetch('/add-schedule-event', 
                {
                  method: 'POST', // specify the HTTP method
                  headers: {
                    'Content-Type': 'application/json', // specify the content type of the request body
                    // Add any other headers if needed
                  },
                  body: JSON.stringify({events})
                });
            });
      });
    </script>
  </head>
  <body>
    
    <div class="container">
        <!-- side navigation bar -->
      <div class="navigation">
        <div class="toggle-bar">
          <a href="#">
            <span class="toggle icon">
              <i class="fa-solid fa-bars" style="color: #fff"></i>
            </span>
            <span class="title">ConfoEase </span>
          </a>
        </div>
        <ul>
          <li></li>
          <li>
            
            <a href="/admin/<%= data %>">
              <span class="icon"><i class="fa-solid fa-house"></i></span>
              <span class="title">Home</span>
            </a>
          </li>
          <li>
            <a href="/create-event/<%=data%>">
              <span class="icon"><i class="fa-solid fa-plus"></i></span>
              <span class="title">Create Event</span>
            </a>
          </li>
          <li>
            <a href="/edit-event">
              <span class="icon"
                ><i class="fa-solid fa-pen-to-square"></i
              ></span>
              <span class="title">Edit Event</span>
            </a>
          </li>
          <li>
            <a href="/manage-reviewer">
              <span class="icon"><i class="fa-solid fa-list-check"></i></span>
              <span class="title">Manage Papers</span>
            </a>
          </li>
          <li>
            <a href="/manage-reviewer/<%=data%>">
              <span class="icon"><i class="fa-solid fa-list-check"></i></span>
              <span class="title">Manage Reviewer</span>
            </a>
          </li>
          <li class="hovered">
            <a href="/admin-schedule/<%=data%>">
              <span class="icon"><i class="fa-regular fa-calendar"></i></span>
              <span class="title">Schedule</span>
            </a>
          </li>
          <li>
            <a href="/logout/<%=data%>">
              <span class="icon"
                ><i class="fa-solid fa-right-from-bracket"></i
              ></span>
              <span class="title">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    <!-- side navigation bar -->

      <!-- main content -->
      <div class="main">
        <!-- top navigation bar -->
        <div class="top-bar">
            <div class="search">
              <label for="Search">
                <input type="text" placeholder="Search User" />
                <i
                  class="fa-solid fa-magnifying-glass"
                  style="color: #3867d6"
                ></i>
              </label>
            </div>
            <div class="user">
              <img src="/image/user.jpg" alt="" />
            </div>
        </div>
        <!-- top navigation bar -->

        <!-- heading for event creation -->
          <section class="home" id="home">
            <div class="content">
              <h3>Schedule <span>Event</span></h3>
            </div>
          </section>
        <!-- heading for event creation -->

        <!-- form for taking user input for conference creation -->

        <div class="form-container">
            <section class="event-creation" id="event-creation">
              <form id="event-info" method="post" action="/add-schedule-event" enctype="multipart/form-data">
                <!-- Event Details -->
                <div class="schedule-details" id="schedule-details">
                  <div class="input-box">
                    <label for="schedule-details" class="heading">Event <span>Details</span></label>
                  </div>
                  <div id="schedule-list">
                    <div class="each-schedule">
                      <div class="input-box">
                        <label for="event-title">Event Title</label>
                        <label for="description">Event Description</label>
                      </div>
                      <div class="input-box">
                        <input type="text" name="title" id="event-title" placeholder="Event Title" required>
                        <input type="text" name="description" id="event-description" placeholder="Description" required/>
                      </div>
                      <div class="input-box">
                          <label for="event-start-date">Start Date</label>
                          <label for="startTime">Start Time</label>
                      </div>
                      <div class="input-box">
                        <input type="date" id="event-start-date" name="startdate" placeholder="Start Date" required/>
                        <input type="time" id="startTime" name="eventstarttime" placeholder="Event Start time" required/>
                      </div>
                      <div class="input-box">
                        <label for="event-end-date">End Date</label>
                        <label for="endTime">End Time</label>
                      </div>
                      <div class="input-box">
                        <input type="date" id="event-end-date" name="enddate" placeholder="End Date" required/>
                        <input type="time" id="endTime" name="eventendtime" placeholder="Event End time" required/>
                      </div>
                      <!-- <button
                        class="remove-btn btn"
                        onclick="removeSchedule(this)"
                      >
                        Remove Event
                      </button> -->
                    </div>
                  </div>
                <!-- <button
                  class="add-btn btn"
                  onclick="addSchedule(); return false;"
                >
                  Add Event
                </button> -->
                <input
                  type="submit"
                  id="create-event-submission"
                  value="Add Event"
                  class="btn"                  
                />
              </div>
              <!-- Event Details -->
              <br />

              <!-- onclick="displayData()" -->
              
              </form>
            </section>
            <section class="event-creation" >
                <!-- <div class="schedule-details" id="schedule-details"> --> 
                    <div id='calendar'></div>
                <!-- </div> -->
            </section>
        </div>
          <!-- form for taking user input for conference creation -->

        <!-- <div id="desc-palette" class="event-creation" >
          <div class="input-box">
            <label for="schedule-details" class="heading">Description</label>
          </div>
          <div id="desc">
            <li class="each-schedule">
              adfg
            </li>
            <li>
              dfgg
            </li>
          </div>
        </div> -->
      </div>




      </div>
      <!-- main content -->
    </div>
    

    <!-- script file -->
    <script src="/js/admin-schedule.js"></script>
    <!-- script file -->
  </body>
</html>
