<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=data.eventname%></title>
    <link rel="stylesheet" href="/css/call-for-workshop.css" />

    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- font awesome link -->
  </head>
  <body>
    <!-- header Section -->
    <header class="header">
      <a href="/conference/<%= data.eventname %>" class="logo"><span>C</span>onfoEase</a>

      <!-- nav bar -->
      <nav class="navbar">
        <a href="/conference/<%= data.eventname %>">Home</a>
        <a href="/committee/<%= data.eventname %>">Committees</a>
        <a href="/call-for-paper/<%= data.eventname %>">Call For Papers</a>
        <a href="/call-for-workshop/<%= data.eventname %>">Workshop Proposals</a>
        <a href="/otp/<%= data.eventname %>">Register</a>
        <a href="/login1/<%= data.eventname %>">Login</a>

        <div id="menu-bar" class="fas fa-bars"></div>
      </nav>
      <!-- Nab Bar ended -->
    </header>
    <!-- header Section -->

    <!-- Section for displaying the heading -->
    <section class="home" id="home">
      <div class="content">
        <h3>Call For Workshop <span>Proposal</span></h3>
      </div>
    </section>
    <!-- Section for heading closed -->

    <div class="container">
      <div class="aims-scope">
        <h3>Aims and <span>Scope</span></h3>
        <p><%= data.workshopaim%></p>
      </div>
      <div class="workshop-proposal">
        <h3>Preparing Your <span>Workshop Proposal</span></h3>
        <p><%= data.workshopproposal%></p>
      </div>
    </div>

    <%- include("partials/footer.ejs"); -%>