<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConfoEase</title>
    <link rel="stylesheet" href="/css/singup.css" />
    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- swipper css link -->

    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- font awesome link -->
  </head>
  <body>
    <!-- header Section -->
    <header class="header">
      <a href="#" class="logo"><span>C</span>onfoEase</a>

      <!-- nav bar -->
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/committee">Committees</a>
        <a href="/tracks">Tracks</a>
        <a href="/">Speakers</a>
        <a href="/">Contact Us</a>
        <a href="/signup1/<%= data%>">Register</a>
        <a href="/login1/<%= data%>">Login</a>

        <div id="menu-bar" class="fas fa-bars"></div>
      </nav>
      <!-- Nab Bar ended -->
    </header>
    <!-- header Section -->

    <!-- singup form  -->
    <secton class="container forms">
      <div class="form login">
        <div class="form-content">
          <header>SignUp</header>
          <form action="/signup1/<%= data %>" method="post">
            <div class="field input-field">
              <input name="name" type="text" class="input" placeholder="name" />
            </div>
            <div class="field input-field">
              <input
                name="username"
                type="email"
                class="input"
                placeholder="<%= user %>"
                value="<%= user %>"
                readonly
              />
            </div>
            <div class="field input-field">
              <input
                name="password"
                type="password"
                class="password"
                placeholder="create password"
                id="password"
              />
              <!-- <i
                class="fa-solid fa-eye-slash eye-icon"
                style="color: #3687d6"
              ></i> -->
            </div>
            <div class="content">
              <p>Password must contains:</p>
              <ul class="requirement-list">
                <li>
                  <i class="fa-solid fa-circle"></i>
                  <span>At least 8 character length</span>
                </li>
                <li>
                  <i class="fa-solid fa-circle"></i>
                  <span>At least one lowercase alphabet</span>
                </li>
                <li>
                  <i class="fa-solid fa-circle"></i>
                  <span>At least one uppercase alphabet</span>
                </li>
                <li>
                  <i class="fa-solid fa-circle"></i>
                  <span>At least one special character</span>
                </li>
                <li>
                  <i class="fa-solid fa-circle"></i>
                  <span>At least numeric character</span>
                </li>
              </ul>
            </div>
            <div class="field input-field">
              <input
                type="password"
                class="password"
                id="confirm-password"
                placeholder="confirm password"
              />
              <i
                class="fa-solid fa-eye-slash eye-icon"
                style="color: #3687d6"
              ></i>
            </div>
            <p class="message"></p>
            <div class="field input-field">
              <select name="role" id="role">
                <option value="1" class="choose">Enter As</option>
                <option value="author">Author</option>
                <option value="attendee">Attendee</option>
              </select>
            </div>
            <p style="color: red;"><%= error %></p>
            <!-- <div class="form-link">
              <a href="#" class="forgot-password">Forgot Password?</a>
            </div> -->
            <div class="field button-field">
              <button id="register" type="submit">Register</button>
            </div>
          </form>
          <div class="form-link">
            <span
              >Already have an account
              <a href="/login1/<%=data%>" class="link login-link"
                >Login</a
              ></span
            >
          </div>
        </div>
      </div>
    </secton>
    <!-- signup form  -->

    <script src="/js/signup.js" defer></script>
  </body>
</html>
